<!DOCTYPE html>
<html lang="en-US">
 <head>
  <title>Epic Time Clock</title>
  <link rel="icon" href="backgrounds/epicTimeClockIcon.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap tools libraries include -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- MyStyle.css (Style)include -->
  <link rel="stylesheet" type="text/css" href="epicTimeCss.css">
 </head>
 
 <body>

  <!-- Angular include -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  
  <div id="rootDiv" ng-app="rootApp", ng-controller="rootCtrl">   
   <!-- Mute button, background music -->
   <div class="row">
    <div class="col-xs-12 muteBar centerize">
     <!-- Background music -->
     <audio id="backgroundMusic" src="sounds/backgroundmusic.mp3" autoplay loop></audio>
     <!-- Mute button -->
     <p>Sound <br/></p>
     <label class="switch">
      <input type="checkbox" id="muteButton" ng-click="muteFunc()" checked />
      <div class="slider round"></div>
     </label>
    </div> 
   </div> 
   <!-- End of mute button row -->
   
   <!-- Buttons 1, 2 - Assassins Creed, God of War -->  
   <div class="row">
    <div class="col-xs-6 centerize">
      <button type="button" class="btn-circle" ng-click="button1()"><img src="buttons/assassinbutton.ico" /></button>
    </div> 
    <div class="col-xs-6 centerize">
     <button type="button" class="btn-circle" ng-click="button2()"><img src="buttons/godofwarbutton.png" /></button>
    </div> 
   </div> 
   <!-- End of buttons 1, 2 row - Assassins Creed, God of War -->
   
   <!-- Clock row -->
   <div class="row">
    <div id="clockDiv" class="col-xs-12 clock centerize">
    <!-- Time display -->
     <p/>{{time()}}
    </div> 
   </div>
   <!-- End of clock row -->
   
   <!-- Buttons 3, 4 - Prince of Persia, The Witcher -->  
   <div class="row">
    <div class="col-xs-6 centerize"> 
     <button type="button" class="btn-circle" ng-click="button3()"><img src="buttons/popbutton.ico" /></button>
    </div>      
    <div class="col-xs-6 centerize"> 
     <button type="button" class="btn-circle" ng-click="button4()"><img src="buttons/thewitcherbutton.png" /></button>   
    </div> 
   </div>
   <!-- End of buttons 3, 4 row  - Prince of Persia, The Witcher -->   
  </div>
   
  <!-- Footer -->
  <footer>
   <p class="btn info" data-toggle="popover" data-placement="top" data-trigger="hover" 
   data-content="Themes : Assassins Creed, God of War, Prince of Persia, The Witcher 
   Background music : The Witcher 3: Wild Hunt - OST #2 - Geralt of Rivia
   SFX : Isolation Music - Epic sword sound effects"><span class="glyphicon glyphicon-info-sign"></span></p>     
   <!-- Created by link footer -->     
   <p>Created by <a href="../../index.html" target="_blank"><em>Anastasios Mpoletis</em></a></p>     
  </footer>
  <!-- End of footer -->
  
  <!-- Javascript file include -->
  <script src="epicTimeJs.js" defer></script>
    
</body>
</html>
